/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #9595ca;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #4b5e6496;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #ffffff;
}

.form-group label {
    font-weight: bold;
}
.form-group{
    background-color: #3b81cc;
    margin: 10px;
}

.form-group input, .form-group textarea {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
}

.btn-primary {
    background-color: #051b53;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #00b33f;
}

.btn-secondary {
    background-color: #c71b1b;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #c82333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e9ecef;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

ul li a {
    text-decoration: none;
    color: #007bff;
}

ul li a:hover {
    text-decoration: underline;
}
