@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F9;
    color: #333333;
}

.header {
    background-color: #00AEEF;
    padding: 20px;
    text-align: center;
    color: white;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.hero {
    background-image: url('your-background-image.jpg');
    background-size: cover;
    background-position: center;
    color: #8e5454;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    margin: 0 0 20px;
}

.hero p {
    font-size: 24px;
    margin: 0 0 40px;
}
#anim{
    background:linear-gradient(90deg, #4608a1, #fff, #c32b37);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    margin: 24px 20px;
    }
    @keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

.cta-button {
    background-color: #FF6F61;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.courses {
    padding: 50px 20px;
    text-align: center;
}

.courses h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.course-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 20px;
    width: 300px;
    padding: 20px;
    text-align: left;
}

.course-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.course-card h3 {
    font-size: 24px;
    margin: 20px 0 10px;
}

.course-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.course-card .enroll-button {
    background-color: #00AEEF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    text-align: center;
}